body {
  margin: 0;
}
.header {
  /*background-color: #48d75f;*/
  border-bottom: 1px rgb(184, 184, 184) solid;
  font-family: 'Fredoka One', cursive;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

canvas {
  width: 400px;
  display: inline-block;
}
.CodeMirror {
  border: 1px solid #eee;
  /*height: auto;*/
  width: 40%;
  height: 400px;
  display: inline-block;
}

.text-box {
  width: 40%;
}
